<h2>Register Form</h2>

<form method="post">
    <p>
        <label>Full name:</label>
        <input type="text" name="fullname" /> <br />
    </p>
    <p>
        <label>User name:</label>
        <input type="text" name="username" /> <br />
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" /> <br />
    </p>
    <p>
        <label>Date of birth:</label>
        <input type="date" name="dateOfBirth" /> <br />
    </p>
    <p>
        <input checked="checked" name="sex" type="radio" value="Male">
        <span>Male</span>
        <input name="sex" type="radio" value="Female">
        <span>Female</span><br />
    </p>
    <p>
        <label>Email:</label>
        <input type="email" name="email" /> <br />
    </p>
    <p>
        <label>Phone:</label>
        <input type="tel" name="phone" /> <br />
    </p>
    <p>
        <label>Country:</label>
        <input type="text" name="country" /> <br />
    </p>


    <p> <input type="submit" value="Sign Up" /></p>

    <div>
        <p>Have an account?  <a href="~/Account/Login">Sign In</a></p>
    </div>

</form> 