@{
    ViewData["Title"] = "HttpHeaders Page";
}

@model Dictionary<string, string>

<div class="text-center">
    <h1 class="display-4">HttpHeaders Page</h1>
</div>

<h3>Request Headers</h3>
<table>
@foreach (var header in Model)
{
        <tr>
            <td>@header.Key</td>
            <td>@header.Value</td>
        </tr>
}
</tabel>

