@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HotelManagemnetSystemHW.Models.Reservation

<form method="post">
    <div>
        <p>
            <label asp-for="CheckIn"></label><br />
            <input type="datetime-local" id="CheckIn" name="CheckIn" asp-for="CheckIn" />
            <span asp-validation-for="CheckIn" />

        </p>
        <p>
            <label asp-for="CheckOut"></label><br />
            <input type="datetime-local" id="CheckOut" name="CheckOut" asp-for="CheckOut" />
            <span asp-validation-for="CheckOut" />

        </p>
        <p>
            <label asp-for="Elders"></label><br />
            <input type="number" id="Elders" name="Elders" asp-for="Elders" />
            <span asp-validation-for="Elders" />

        </p>
        <p>
            <label asp-for="Children"></label><br />
            <input type="number" id="Children" name="Children" asp-for="Children" />
            <span asp-validation-for="Children" />

        </p>
        <p>
            <label asp-for="UserId"></label><br />
            <input type="number" id="UserId" name="UserId" asp-for="UserId" />
            <span asp-validation-for="UserId" />

        </p>
        <p>
            <label asp-for="RoomId"></label><br />
            <input type="number" id="RoomId" name="RoomId" asp-for="RoomId" />
            <span asp-validation-for="RoomId" />

        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    </div>
</form> 