@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Приветствие в отеле</title>
    <style>
        /* Стили для приветствия */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            text-align: center;
            padding: 50px;
        }
        
        h1 {
            font-size: 32px;
            color: #333;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 20px;
            color: #777;
            line-height: 1.5;
        }
        
        button {
            font-size: 18px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать в наш отель!</h1>
    <p>Мы рады приветствовать вас в нашем уютном отеле. Надеемся, ваше пребывание будет комфортным и приятным. Если у вас возникнут вопросы или потребуется помощь, обратитесь к нашему персоналу. Желаем вам отличного времени в нашем отеле!</p>
    <button onclick="location.href='https://localhost:7210/Rooms/index'">Смотреть комнаты</button>
    <button onclick="location.href='https://localhost:7210/Admin/index'">Админ</button>
</body>
</html>
